<div class="container">
  <div class="input-form-container">
    <div class="row">

      <form class="addStyle form-horizontal col-sm-offset-3 col-md-6" ng-submit="agregar()" name="formTeatro"
            novalidate="novalidate">
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="teatro.nombre" placeholder="Nombre"
                 ng-minlength="3"
                 ng-maxlength="15"
                 required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="teatro.direccion" placeholder="Direccion"
                 ng-minlength="10"
                 ng-maxlength="20"
                 required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="teatro.cuil" ng-pattern="/^\d{2}\-\d{8}\-\d{1}$/" placeholder="CUIT"
                 ng-minlength="11"
                 ng-maxlength="30"
                 required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="teatro.propietario" placeholder="Propietario"
                 ng-minlength="6"
                 ng-maxlength="30"
                 required/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-lg btn-block">Agregar Teatro</button>
        </div>
      </form>
    </div>
  </div>
</div>
