<div class="container">
  <div class="input-form-container">
  <div class="row">
    <form class="addStyle form-horizontal col-sm-offset-3 col-md-6" ng-submit="agregarEmpleado()" name="formEmpleado"
          novalidate="novalidate">
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="usuario.nombre" placeholder="Nombre"
               ng-minlength="3"
               ng-maxlength="15"
               required/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="usuario.apellido" placeholder="Apellido"
               ng-minlength="3"
               ng-maxlength="15"
               required/>
      </div>
      <div class="form-group">
        <input type="email" class="form-control input-lg" ng-model="usuario.email" placeholder="Email"
               ng-minlength="3"
               ng-maxlength="30"
               required/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" ng-model="usuario.password" placeholder="Password"
               ng-minlength="6"
               ng-maxlength="15"
               required/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Agregar Empleado</button>
      </div>
    </form>
  </div>
  </div>
</div>
