<div class="row">
	<div ng-repeat="sector in teatro.sectores">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="row">
					<h3>{{sector.nombre}}</h3>
				</div>
        <br>
				<div class="row">
					<div class="col-xs-3  col-xs-offset-1">
						<div ng-repeat="fila in sector.filas ">
							<div class="row">
								<div class="form-group">
									    <label for="email">Fila {{$index+1}}</label>
									    <input type="number" class="form-control" name="asientos" ng-change="crearAsientos(fila)" ng-model="fila.nAsientos">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<br>
<div class="text-center">
<!--     <button type="submit" class="btn btn-danger">Enviar</button> -->
</div>
