<div class="container" >
    <div class="row" style="margin-top:80px" >
        <div style="background-color: white; min-height: 250px; border-radius: 3px; padding: 30px;">
            <div class="error-template text-center">
              <p><span class="glyphicon glyphicon-alert" style="color:orange"></span></p>
              <h1>Oops!</h1>
                <h2>Error {{error.code}} - {{error.msg}}</h2>
                <h4>Se ha producido un error. Por favor, intente nuevamente, o tome contacto con el webmaster.</h4>

                <div class="btn-group">
                    <a  ui-sref="home" class="btn btn-success btn-lg "><span class="glyphicon glyphicon-home"></span>
                        Llevarme A Casa </a>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg "><span class="glyphicon glyphicon-envelope"></span> Contactar Soporte </a>
                </div>

            </div>
        </div>
    </div>
</div>
