<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="form-group" ng-show="reserva.monto > 0">
			<label for="monto">Monto</label>
			<input type="text"  class="form-control" ng-model="reserva.monto" disabled="disabled" name="monto" >
		</div>
		<div class="form-group">
		    <label for="numtarjeta">Numero de tarjeta</label>
		    <input type="text" class="form-control" name="numtarjeta" ng-model="reserva.numeroTarjeta" >
		</div>
		<div class="form-group">
		    <label for="cvv">Cvv</label>
		    <input type="text" class="form-control" name="cvv" ng-model="reserva.cvv" >
		</div>
		<div class="form-group">
		   <label for="cuotas">Cant. de cuotas</label>
		    <input type="number" class="form-control" name="cuotas" ng-model="reserva.cuotas" >
		</div>
	</div>
</div>

<div class="text-center" style="margin-top: 30px">
    <button type="submit" class="btn btn-danger">CONFIRMAR COMPRA</button>
</div>
