<!-- form.html -->
<div class="input-form-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div id="form-container">

        <div class="page-header text-center">
          <h2>Reservar función</h2>

          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
            <button class="btn btn-link" ui-sref-active="active" ui-sref="reserva.sector"><span>1</span> Sector</button>
            <button class="btn btn-link" ng-disabled="disableStep2" ui-sref-active="active" ui-sref="reserva.seleccion"><span>2</span> Selección</button>
            <button class="btn btn-link" ng-disabled="disableStep3" ui-sref-active="active" ui-sref="reserva.metodo"><span>3</span> Pago</button>
          </div>
        </div>

        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" name="reservaForm" ng-submit="processForm()" disable-dynamic-validation="true">

          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
        </form>

        <div class="row " ng-show="data.error.active">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{data.error.detail}}
            </div>
          </div>
        </div>
      </div>

      <!-- show our formData as it is being typed -->
	    <pre>
	        {{ reserva }}
	    </pre>


    </div>
  </div>
</div>
